
* {
  box-sizing: border-box;
}

.card {
  margin : 20px;
}

.addproduct{
  display: flex;
  width: 50%;
  height: 100vh;
  background-color: beige;
}

.div-center{
  margin: auto;
  width: 70%;
}

.productlist{
  width: 50%;
  height: 100vh;
  background-color: bisque;
}

.wrap{
  display:flex;
}